<div class="chat-rooms-list" ng-repeat="chatroom in rooms.allRooms">{{chatroom.$id}} - {{chatroom.$value}}</div>
<button ng-click="open()">Create a New Chat Room</button>


<div modal="showModal" close="cancel()">
    <div class="modal-header">
        <h4>Modal Dialog</h4>
    </div>
    <div class="modal-body">
        <p>Example paragraph with some text.</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="ok()">Okay</button>
      <button class="btn" ng-click="cancel()">Cancel</button>
    </div>
</div>